body {
    margin-top: 40px;
    background-color: #eee;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#projects {
    margin-bottom: 50px;
}

#projects > p {
    font-size: 22px;
    color: rgb(59, 131, 113);
    margin-bottom: 10px;
}

#projects > a {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    color: #eee;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto 4px;
    background-color: rgb(59, 131, 113);
    padding: 14px 10px;
    border-radius: 8px;
}

#about {
    max-width: 500px;
    margin: 0 auto;
}

#about > p {
    font-size: 17px;
}