body {
    text-align: center;
    margin-top: 30px;
}

#about > p {
    font-size: 24px;
}

#projects > a {
    display: block;
    color: rgb(59, 131, 113);
    text-decoration: none;
    font-size: 24px;
    margin-top: 8px;
}